{% extends "layout.html" %}

{% block title %}
    Add Bill
{% endblock %}
    
{% block main %}
    <div class="container-fluid">
        <form action="/additems" method="post">
            <input class="form-control mx-auto w-auto formInputs" autofocus id="distName" name="distName" placeholder="Dist. Name" type="text">
            <input class="form-control mx-auto w-auto formInputs" id="date" name="date" placeholder="Date" type="text" value="{{ current_date }}">
            <input class="form-control mx-auto w-auto formInputs" id="items" name="items" placeholder="No. of items" type="number" >
            <input type="submit" class="btn btn-primary formInputs" value="Add">
        </form>
        {% if no_of_items %}
        <form>
        {% for item in range(no_of_items) %}
        <div class="row mb-5">
            <input class="form-control mx-auto w-auto formInputs" id="medName" name="medName" placeholder="Medicine Name" type="text">
            <input class="form-control mx-auto w-auto formInputs" id="quantity" name="quantity" placeholder="Quantity" type="number">
            <input class="form-control mx-auto w-auto formInputs" id="expiry" name="expiry" placeholder="Expiry" type="date">
            <input class="form-control mx-auto w-auto formInputs" id="rate" name="rate" placeholder="Rate" type="number">
            <input class="form-control mx-auto w-auto formInputs" id="mrp" name="mrp" placeholder="MRP" type="number">
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Add Bill">
        </form>
        {% endif %}
    </div>
{% endblock %}