{% extends "layout.html" %}

{% block title %}
    Distributors
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Distributor ID</th>
                <th>Distributor Name</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            {% for distributor in distributors %}
            <tr>
                <td>{{ distributor[0] }}</td>
                <td>{{ distributor[1] }}</td>
                <td>{{ distributor[2] }}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}
<!-- hi-->