{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
        <form action="/login" method="post">
            <div class="mb-1 mt-5">
                <label for="username">Username:</label><br>
                <input type="text" autocomplete="off" class="form-control mx-auto w-auto" autofocus name="username" id="username" placeholder="Username"><br>
            </div>
            <div class="mb-2"> 
                <label for="password">Password:</label><br>
                <input type="password" class="form-control mx-auto w-auto" name="password" id="password" placeholder="Password"><br>
                <input type="checkbox" onclick="show_password()" style="margin-right: 5px;">Show Password
            </div>
            <input type="submit" class="btn btn-primary">

            <p style="margin-top: 20px;">New user? <a href="/register" style="margin-left: 5px;">Sign Up!</a></p>
        </form>
{% endblock %}
<!-- hi-->